@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'navigation';
@import 'container';
@import 'colours';
@import 'background';
@import 'bot-container';
@import 'custom-content-container';
@import 'reviews-container';
@import '../www-root/ModestaCSS/scss/twemoji.scss';

html, body {
  font-family: Montserrat;
  margin: 0;
}

.emoji {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  display: inline-block;
  height: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
  width: 1em;
}

// Unmodesta
.btn, button {
  border-radius: 0px !important;
  box-shadow: unset !important;
}

.hidden {
  display: none;
}

@media screen {
  @import '../../node_modules/tiny-slider/src/tiny-slider.scss';

  html, body {
    color: $primary;
    background-color: $primary-background;
  }

  a {
    text-decoration: unset;
    &:link {
      color: $link;
    }

    &:visited, &:hover, &:active {
      color: $link-clicked
    }
  }

  .modesta {
    @import '../www-root/ModestaCSS/scss/modesta.scss';
  }
}

@media print {

}

