.ls-reviews-container {
  .ls-review-box {
    max-width: 20em;
    flex-basis: 20em;
    flex-grow: 1;
    .ls-flex-row {
      align-items: center;
    }
    .progress-container {
      width: 100%;
    }
    .ls-review-number {
      width: 15px;
    }
  }

  .ls-review-average {
    font-size: 36pt;
    align-self: center;
    padding: 0.25em;
  }

  .ls-reviewer-box {
    margin-top: 1em;
    .ls-star {
      color: #ffff00;
    }
    .ls-reviewer-avatar {
      width: 3em;
      height: 3em;
    }
    .ls-reviewer-title {
      flex-grow: 1;
      margin-left: 0.5em;
    }
  }

  .stars {
    display: flex;
    flex-direction: row;
    font-size: 32pt;
    direction: rtl;
    max-width: min-content;
    input {
      display: none;
    }
    input:checked ~ label {
      color: #ffff00;
    }
    label {
      color: #888888;
      cursor: pointer;
    }
  }
}
